
.resturant {
  border-radius: .3rem;
  border: 1px solid black;
  width: 30rem;
  padding: 1rem;
  margin-top: 0.2rem;
}

.review {
  border-radius: .3rem;
  width: 15rem;
  border: 1px solid black;
  margin-top: 0.2rem;
  padding: 1rem;
}
